<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzBLXDAyWp_5RjE-QSN01phA7w1M7Qcvs</string>
	<key>GCM_SENDER_ID</key>
	<string>914990790116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boilerPlate</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-analytics-90b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-analytics-90b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914990790116:ios:871ba5aae78d6aaae883f1</string>
</dict>
</plist>